*.log
*.tmp
*.bak
*.old
__pycache__
.vscode/
dist/
build/
temp/
*.egg-info/
coverage.xml
.coverage
.tox
htmlcov
structures_notifications_archive/
starbases_raw*.json
customs_offices_raw*.json
notifications_raw*.json
structures_raw*.json
starbases_raw*.json
.mypy_cache
memberaudit_log/
_build/
